@media(min-width:365px){
   
.link{
   flex: 1;
}

.code{
    flex: 1;
}
}

@media (min-width: 768px) {

    .section-Bar{
        width: 100%;
    }

    /*----------HEADER----------*/

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 40px;
    }

    header .name {
        font-size: 20px;
    }


    .hamburger {
        display: none;
    }

    nav {
        font-size: 14px;
        display: flex;
        gap: 20px;
    }

    nav a {
        color: #e6e4e4;
        text-transform: uppercase;
        text-decoration: none;
    }

    nav a:hover {
        border-bottom: 1px solid var(--roxo);
        color: var(--roxo);
        text-transform: uppercase;
        text-decoration: none;
    }

    /*----------HERO----------*/
    .hero {
        background-image: url("backgroundHero.png");
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 30px;
    }

    .img-profile-container img {
        height: 200px;
    }

    .hero .name {
        font-size: 25px;
    }

    .hero-texts {
        color: #e6e4e4;
        display: flex;
        flex-direction: column;
        align-items: start;
        text-align: start;
        margin: 0px 20px;
        gap: 10px;
    }

    .hero-slogan {
        font-size: 14px;
        font-style: italic;
        font-weight: 400;
    }

    .container-msg{
        display: flex; 
    }

    .typing-container #msg{
        margin-left: 6px;
    }

    .hero-desc {
        font-size: 12px;
    }

/*----------skills----------*/


.skills-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    font-size: 14px;
}

.skills-list li {
    padding: 8px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid rgb(224, 222, 222);
    border-radius: 6px;
}

/*----------project----------*/

.bar-projects{
    display: none;
}

 .project-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center; /* ← faltava isso */
        align-items: flex-start; /* ← cards alinhados pelo topo */
        max-width: 100%;
    }

.project {
        max-width: 340px;
        width: 100%;
    }

.code{
    border-radius: 8px;
    border: 1px solid #020A1C;
    background-color: #020A1C;
    color: #fff;
}
.link{
    border-radius: 8px;
    border: 1px solid var(--project);
    color: var(--project);
}
.links-project{
    gap: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-project-1{
    height: 240px;
}


}

@media (min-width: 1024px) {

    /*----------HEADER----------*/
    header .name {
        font-size: 30px;
    }


    .hamburger {
        display: none;
    }

    nav {
        font-size: 14px;
        display: flex;
        gap: 20px;
    }


    /*----------HERO----------*/
    .hero .name {
        font-size: 34px;
    }


    .img-profile-container img {
        height: 250px;
    }

    .hero-texts {
        margin: 0px 0px;
    }

    .hero-slogan {
        font-size: 20px;
        font-style: italic;
        font-weight: 400;
    }

    .hero-desc {
        font-size: 14px;
    }

    .typing-container #msg{
        font-size: 20px;
    }


/*----------skills----------*/


/*----------project----------*/
    .project {
        max-width: 400px;
    }

    .img-project-1{
        height: 280px;
    }

}